.file-upload-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px; /* Adjust the value as needed */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.upload-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.upload-option {
    margin: 20px 0; /* Margin for spacing between upload options */
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.upload-option h3 {
    font-size: 20px;
    color: #444;
}

.upload-option input[type="file"],
.upload-option input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.upload-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0A3C39;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #0A3C39;
    opacity: 0.8;
}
body {
    background: linear-gradient(133.33deg, #E4E9E8 13.03%, #116660 78.83%);
    margin: 0;
    font-family: Arial, sans-serif; /* Set a default font */
}