/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #1BA29A, #0A3C39);
    padding: 20px;
    color: white;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
