/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0A3C39;
  }
  
  .logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    margin-right: 20px;
    color: white;
    text-decoration: none;
  }
  
  .user-name {
    color: white;
    margin-right: 20px;
  }
  
  .logout-button, .history-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 16px;
  }
  
  .dropdown-container {
    position: relative;
  }
  
  .dropdown-content {
    position: absolute;
    top: 45px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 150px;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .dropdown-content .nav-link {
    display: block;
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-content .nav-link:hover {
    background-color: #f1f1f1; /* Add hover effect */
  }
  
  .dropdown-content button {
    background: none;
    border: none;
    color: #333;
    padding: 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
  }
  
  .dropdown-content button:hover {
    background-color: #f1f1f1; /* Add hover effect */
  }
  